## Quiz 4

# ข้อที่ 1

In [1]:
"ได้ค่า 6"

'ได้ค่า 6'

## ข้อที่ 2

In [17]:
name1 = ['Khettawan','Maliyaem','23']
name2 = ['Kannaphat','Chaiwiwatthanapipat','23']
name3 = ['Intummade','Maliyaem','23']
name4 = ['Somchai','naja','23']
name_all =  [name1,name2,name3,name4]
print(name_all)

[['Khettawan', 'Maliyaem', '23'], ['Kannaphat', 'Chaiwiwatthanapipat', '23'], ['Intummade', 'Maliyaem', '23'], ['Somchai', 'naja', '23']]

## ข้อที่ 3

In [18]:
name1 = ['Khettawan','Maliyaem','23']
name2 = ['Kannaphat','Chaiwiwatthanapipat','23']
name3 = ['Intummade','Maliyaem','23']
name4 = ['Somchai','naja','23']
name_all =  [name1,name2,name3,name4]
del name_all[3]
print(name_all)

[['Khettawan', 'Maliyaem', '23'], ['Kannaphat', 'Chaiwiwatthanapipat', '23'], ['Intummade', 'Maliyaem', '23']]

## ข้อที่ 4

In [16]:
name1 = ['Khettawan','Maliyaem','23']
name2 = ['Kannaphat','Chaiwiwatthanapipat','23']
name3 = ['Intummade','Maliyaem','23']
name4 = ['Somchai','naja','23']
name_all =  [name1,name2,name3,name4]
name_all.insert(0,['Luis','Suraez','23'])
print(name_all)

[['Luis', 'Suraez', '23'], ['Khettawan', 'Maliyaem', '23'], ['Kannaphat', 'Chaiwiwatthanapipat', '23'], ['Intummade', 'Maliyaem', '23'], ['Somchai', 'naja', '23']]

## ข้อที่ 5

In [23]:
name1 = ['Khettawan','Maliyaem',23]
name2 = ['Kannaphat','Chaiwiwatthanapipat',23]
name3 = ['Intummade','Maliyaem',23]
name4 = ['Somchai','naja',23]
name_all =  [name1,name2,name3,name4]
name_all.insert(0,['Luis','Suraez',23])
new = name2[2]+11
print(new)

#เป็นอายุแทนนะคับ

34